      <nav>
      <input type="checkbox" id="burger-toggle" class="burger-toggle" hidden>
      <label for="burger-toggle" class="burger-button">&#9776; {{ i18n "menu" }}</label>
      <div id="menu-entries">
	<ul class="first">
	 {{ $currentPage := . }}
         {{ range .Site.Menus.main }}
          {{ if false }}
            <li><a class="selected">{{ .Name }}</a>
          {{ else }}
            <li><a href="{{.URL}}">{{ .Name }}</a>
          {{ end }}
	    {{ if .HasChildren }}
	      <ul class="second">
	      {{ range .Children }}
                <li><a href="{{.URL}}">{{ .Name }}</a>
		  {{ if .HasChildren }}
		    <ul class="third">
		    {{ range .Children }}
		      <li><a href="{{.URL}}">{{ .Name }}</a></li>
		    {{ end }}
		    </ul>
		  {{ end }}
		</li>
	      {{ end }}
	      </ul>
	    {{ end }}
	    </li>
	  {{ end }}
	</ul>
      </div>
      </nav>
